.css {
    font-size: larger;
    font-family: sans-serif;
    font-style: italic;
    color: salmon;

}
.css1 {
    color:blueviolet;
    font-style: italic;
    font-size: medium;
}
.css2{
    color: lightseagreen;
width: 400px;
    height: 20px;
  font-size: 2rem;
 }
 .background{
     background-color: green;
 }
.anim{
    box-shadow: 0 15px 18px 0 tomato;
    opacity: 0.5;
   color: #3498Db;
}
.csStyle{
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 15px 18px 0 tomato;
    background-color: yellow;
}
.csStyle1{
    font-style: italic;
    font-size: 3rem;
    background-color: yellow;
}
.my-style{
    height: 250px;
    width: 800px;
    margin-top: 20px;
    padding:10px ;
    background-color: lightcoral;
}

